<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Authenticate</title>
</head>
<body>
    <div class="bgimage">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">Login</button>
                <button type="button" class="toggle-btn" onclick="register()">Register</button>
            </div>
            <div class="social-icons">
                <img src="https://i.postimg.cc/Tw4wxDxX/fb.png">
                <img src="https://i.postimg.cc/sxG2ggfG/wa.png">
                <img src="https://i.postimg.cc/h4X8d8fT/ig.png">
            
            </div>
            <form id="login" class="input-group">
                <input type="text" class="input-field" placeholder="User Name" required>
                <input type="text" class="input-field" placeholder="Enter Password" required>
                <!-- <input type="checkbox" class="check-box"><span>Remember Password</span> -->
                <button type="submit" class="submit-btn">Login</button>
            </form>
            <form id="register" action="/signup" method="post" class="input-group">
                <input type="text" class="input-field" name="username" placeholder="User Name" required>
                <input type="email" class="input-field" name="email" placeholder="Email Id" required>
                <input type="text" class="input-field" name="password" placeholder="Enter Password" >
                <input type="checkbox" name="check" class="check-box"><span>I agree to the terms & conditions</span>
                <button type="submit"  class="submit-btn">Register</button>
            </form>
        </div>   
      </div>
</body>
<script src="/js/script.js"></script>
</html>